// colours
$yellow: #febb0c;
$deep-blue: #007a82;
$deep-grey: #3d3d3d;
$grey: #666666;
$light-white: #ededed;
$white: #fff;
$black: #000;

$font-size-root: 16px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
